/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* same as 10px for easy scaling with rem unit */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: #6a6768;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

img {
  /* images will not overflow the parent */
  max-width: 100%;
}

/* 
1. Should have background-color for visual at first
2. Should specify all the position because it will mess up if
sidebar display none */

.grid-wrapper {
  display: grid;
  grid-template-columns: 20rem 1fr;
  height: 100vh;
}

.sidebar {
  /* background-color: red; */
  grid-column: 1/2;
  grid-row: span 4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar span {
  transform: rotate(-90deg);
  color: #484848;

  /* at first set opacity to Zero avoid waiting for header
  before it can trigger (because of 0.2s of waiting), then 
  forwards to keep opacity after all*/
  opacity: 0;
  animation: fade-in ease-in 0.5s 0.2s forwards;
}

.sidebar span:nth-child(2n + 0) {
  width: 2px;
  height: 10rem;
  background-color: #484848;
  transform: rotate(0);
  margin: 2rem 0;
}

.master-header {
  /* background-color: blue; */
  /* column start from 2 to the end (-1) */
  grid-column: 2/-1;
  /* don't really span */
  grid-row: span 1;

  display: flex;
  align-items: center;

  animation: fade-in ease-in 0.5s;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #6a6768;
}

.main-content {
  /* background-color: green; */
  grid-column: 2/-1;
  grid-row: 2/4;
}

.main-content .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 100%;
}

.description {
  max-width: 50rem;
  justify-self: start;
}

.item-title {
  font-size: 9.6rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: #000;

  /* This is applied after animation add in */
  opacity: 0;
  animation: fade-in-down ease-in 0.5s 0.5s forwards;
}

.item-description {
  margin-bottom: 4rem;
  /* This is applied after animation add in */
  opacity: 0;
  animation: fade-in-down ease-in 0.5s 1s forwards;
}

.btn {
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: #b61428;
  color: #fff;
  border-radius: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;

  /* This is applied after animation add in */
  opacity: 0;
  animation: fade-in-down ease-in 0.5s 1.5s forwards;
}

.image-wrapper {
  position: relative;
}

.image-wrapper::after {
  content: '';
  width: 75rem;
  height: 32rem;
  background-color: #ffc5cc;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(29rem, -50%);
  z-index: -2;

  opacity: 0;
  animation: fade-in-left 0.5s 2s forwards;
}

.bottle {
  opacity: 0;
  animation: fade-in 0.5s 2.5s forwards;
}

.rose {
  position: absolute;
  bottom: -3rem;
  left: -15rem;
  z-index: -1;

  opacity: 0;
  animation: fade-in 0.5s 3s forwards;
}

.master-footer {
  /* background-color: yellow; */
  grid-column: 2/-1;
  grid-row: 4/5;

  opacity: 0;
  animation: fade-in 0.5s 3.5s forwards;
}

.master-footer span {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d8d8d8;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
}

.master-footer span.selected {
  width: 3.5rem;
  border-radius: 2rem;
  background-color: #b61428;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in-down {
  from {
    transform: translateY(-2.5rem);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-left {
  from {
    transform: translateX(100rem, -50%);
  }
  to {
    transform: translateX(29rem, -50%);
    opacity: 1;
  }
}
